USE [master]
GO
/****** Object:  Database [SchoolsDatabase]    Script Date: 7/19/2024 5:37:48 PM ******/
CREATE DATABASE [SchoolsDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolsDatabase', FILENAME = N'C:\Users\UserPC\SchoolsDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolsDatabase_log', FILENAME = N'C:\Users\UserPC\SchoolsDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolsDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolsDatabase]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_d_Cities]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_d_Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SH_d_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_d_Classes]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_d_Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_SH_d_Class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_d_Country]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_d_Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SH_d_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_d_Subjects]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_d_Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_d_Types]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_d_Types](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_SH_d_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_Grades]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_Grades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Grade] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
 CONSTRAINT [PK_SH_Grades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_Persons]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_Persons](
	[Id] [int] NOT NULL,
	[SchoolId] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Age] [tinyint] NULL,
	[DateOfBirth] [datetime] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_Schedules]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_Schedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time] [time](7) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_Schools]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_Schools](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NumStudents] [int] NULL,
	[NumTeachers] [int] NULL,
	[CountryId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_School] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SH_Takes]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SH_Takes](
	[ClassId] [int] NOT NULL,
	[StudentId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SH_Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grade_Person] FOREIGN KEY([StudentId])
REFERENCES [dbo].[SH_Persons] ([Id])
GO
ALTER TABLE [dbo].[SH_Grades] CHECK CONSTRAINT [FK_Grade_Person]
GO
ALTER TABLE [dbo].[SH_Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grade_Person1] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[SH_Persons] ([Id])
GO
ALTER TABLE [dbo].[SH_Grades] CHECK CONSTRAINT [FK_Grade_Person1]
GO
ALTER TABLE [dbo].[SH_Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grade_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[SH_d_Subjects] ([Id])
GO
ALTER TABLE [dbo].[SH_Grades] CHECK CONSTRAINT [FK_Grade_Subject]
GO
ALTER TABLE [dbo].[SH_Persons]  WITH CHECK ADD  CONSTRAINT [FK_Person_School] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SH_Schools] ([Id])
GO
ALTER TABLE [dbo].[SH_Persons] CHECK CONSTRAINT [FK_Person_School]
GO
ALTER TABLE [dbo].[SH_Persons]  WITH CHECK ADD  CONSTRAINT [FK_SH_Person_SH_d_Type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[SH_d_Types] ([Id])
GO
ALTER TABLE [dbo].[SH_Persons] CHECK CONSTRAINT [FK_SH_Person_SH_d_Type]
GO
ALTER TABLE [dbo].[SH_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Person] FOREIGN KEY([ClassId])
REFERENCES [dbo].[SH_d_Classes] ([Id])
GO
ALTER TABLE [dbo].[SH_Schedules] CHECK CONSTRAINT [FK_Schedule_Person]
GO
ALTER TABLE [dbo].[SH_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[SH_d_Subjects] ([Id])
GO
ALTER TABLE [dbo].[SH_Schedules] CHECK CONSTRAINT [FK_Schedule_Subject]
GO
ALTER TABLE [dbo].[SH_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_SH_Schedule_SH_Person] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[SH_Persons] ([Id])
GO
ALTER TABLE [dbo].[SH_Schedules] CHECK CONSTRAINT [FK_SH_Schedule_SH_Person]
GO
ALTER TABLE [dbo].[SH_Schools]  WITH CHECK ADD  CONSTRAINT [FK_SH_School_SH_d_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[SH_d_Cities] ([Id])
GO
ALTER TABLE [dbo].[SH_Schools] CHECK CONSTRAINT [FK_SH_School_SH_d_City]
GO
ALTER TABLE [dbo].[SH_Schools]  WITH CHECK ADD  CONSTRAINT [FK_SH_School_SH_d_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[SH_d_Country] ([Id])
GO
ALTER TABLE [dbo].[SH_Schools] CHECK CONSTRAINT [FK_SH_School_SH_d_Country]
GO
ALTER TABLE [dbo].[SH_Takes]  WITH CHECK ADD  CONSTRAINT [FK_SH_Takes_SH_d_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[SH_d_Classes] ([Id])
GO
ALTER TABLE [dbo].[SH_Takes] CHECK CONSTRAINT [FK_SH_Takes_SH_d_Class]
GO
ALTER TABLE [dbo].[SH_Takes]  WITH CHECK ADD  CONSTRAINT [FK_SH_Takes_SH_Person] FOREIGN KEY([StudentId])
REFERENCES [dbo].[SH_Persons] ([Id])
GO
ALTER TABLE [dbo].[SH_Takes] CHECK CONSTRAINT [FK_SH_Takes_SH_Person]
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_d_PersonsSelectById]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[prc_SH_d_PersonsSelectById] @Id int
as
select * from SH_Persons where Id = @Id;
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_d_SubjectsSelectById]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[prc_SH_d_SubjectsSelectById] @Id int
as
select * from SH_d_Subjects where Id = @Id;
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_d_TypesSelectById]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[prc_SH_d_TypesSelectById] @Id int
as
SELECT * FROM SH_d_Types WHERE Id = @Id;
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_GradesDelete]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_SH_GradesDelete] @Id int
AS
DELETE FROM SH_Grades WHERE Id = @Id;  
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_GradesInsert]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_SH_GradesInsert] @Grade int, @StudentId int, @TeacherId int, @SubjectId int
AS
    IF EXISTS (SELECT 1 FROM SH_Persons WHERE Id = @StudentId AND TypeId = 1)
       AND EXISTS (SELECT 1 FROM SH_Persons WHERE Id = @TeacherId AND TypeId = 2)
       AND EXISTS (SELECT 1 FROM SH_d_Subjects WHERE Id = @SubjectId)
    BEGIN
        INSERT INTO SH_Grades (Grade, StudentId, TeacherId, SubjectId)
        VALUES (@Grade, @StudentId, @TeacherId, @SubjectId)
 END;
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_GradesSelect]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_SH_GradesSelect]
AS
select * from SH_Grades;
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_GradesSelectById]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[prc_SH_GradesSelectById] @Id int
as
select * from SH_Grades where Id = @Id;
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_GradesUpdate]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_SH_GradesUpdate] @Id int, @Grade int, @StudentId int, @TeacherId int, @SubjectId int
AS
UPDATE SH_Grades
SET SH_Grades.Grade = @Grade, SH_Grades.StudentId = @StudentId, SH_Grades.TeacherId = @TeacherId, SH_Grades.SubjectId = @SubjectId
WHERE
SH_Grades.Id = @Id
AND EXISTS (SELECT p.Id FROM SH_Persons p WHERE p.Id = @StudentId)
AND EXISTS (SELECT p.Id FROM SH_Persons p WHERE p.Id = @TeacherId)
AND EXISTS (SELECT s.Id FROM SH_d_Subjects s WHERE s.Id = @SubjectId);
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_PersonsSelect]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_SH_PersonsSelect]
AS
select * from SH_Persons;
GO
/****** Object:  StoredProcedure [dbo].[prc_SH_SchoolsSelect]    Script Date: 7/19/2024 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[prc_SH_SchoolsSelect] @Id int
as
select * from SH_Schools where Id = @Id
GO
USE [master]
GO
