@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<style>
    .edit-add-container {
      display: grid;
      gap: 20px; /* Space between items */
    }

    .selected {
        background-color: #1E88E5 !important;
    }

    .selected > td {
        color: white !important;
    }

        .selected > td .mud-input {
            color: white !important;
        }
</style>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>