@implements IDisposable
@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SchoolsDatabase</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" role="nav" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home/Account
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="grades">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grades
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="classes">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Classes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="take">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Takes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="schedule">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Schedule
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="subjects">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Subjects
                    </NavLink>
                </div>
                <AuthorizeView Roles="Admin, Teacher" Context="adminTeacherContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="schools">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Schools
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="persons">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Persons
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="Admin" Context="adminContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
                        </NavLink>
                    </div>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}