@page "/edit-grade/{gradeId}"
@inject Logic.SchoolsDbAccessLayer dbLayer
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using SchoolsProjectBlazorDapper.Models;

<PageTitle>Edit Grade</PageTitle>

<h3 style="margin-top: 30px;">Edit Grades</h3>

@if (gradeId.Equals("0"))
{
    <p><em>Loading Grade...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Grade</th>
                <th>Student Id</th>
                <th>Teacher Id</th>
                <th>Subject Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@grade.Id</td>
                <td><input @bind=grade.Grade /></td>
                <td><input @bind=grade.StudentId /></td>
                <td><input @bind=grade.TeacherId /></td>
                <td><input @bind=grade.SubjectId /></td>
            </tr>
        </tbody>
    </table>
}

<button style="height:30px; width: 100px;" @onclick="@(() => CallEditGrade(grade))">Submit</button>

@code {
    [Parameter]
    public string? gradeId { get ; set; }
    public SH_Grade grade = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        if (int.TryParse(gradeId, out int parsedGradeId))
        {
            grade = await dbLayer.GetGrade(parsedGradeId);
        }
        else
        {
            NavigationManager.NavigateTo("/grades");
        }
    }
    
    private async Task CallEditGrade(SH_Grade grade)
    {
        await dbLayer.EditGrade(grade);
        NavigationManager.NavigateTo("/grades");
    }
}
