@page "/Schools/Classes"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize]

<PageTitle>Classes</PageTitle>

@*Wait for everything to load*@
@if (!initialized)
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddClassPageRedirect">Add</MudButton>
    </AuthorizeView>
    <p style="padding-top: 10px;"><em>Loading...</em></p>
}
else
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddClassPageRedirect">Add</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedClass.Id == 0)" @onclick="(() => EditClassPageRedirect(SelectedClass))">Edit</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@(SelectedClass.Id == 0)" @onclick="DeleteClass">Delete</MudButton>
    </AuthorizeView>
    <SH_d_ClassesTable ClassTable="@ClassesTable" @bind-SelectedClass="@SelectedClass" @bind-SelectedClass:event="SelectedClassChanged" />
}

@code {
    List<SH_d_Class> ClassesTable = new();
    private SH_d_Class SelectedClass = new();
    bool initialized = false;

    protected override async Task OnInitializedAsync()
    {
        ClassesTable = await dbLayer.SH_d_ClassesSelectAll();
        initialized = true;
    }

    // Delete class if selected and pressed delete
    private async Task DeleteClass()
    {
        await dbLayer.SH_d_ClassesDeleteById(SelectedClass);
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }

    // Redirect to page for editing class
    private void EditClassPageRedirect(SH_d_Class _class)
    {
        navigationManager.NavigateTo($"/Schools/ClassEdit/{_class.Id}");
    }

    // Redirect to page for adding class
    private void AddClassPageRedirect()
    {
        navigationManager.NavigateTo("/Schools/ClassAdd");
    }
}
