@page "/grades"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize]

@*Wait for everything to load*@
@if (GradesTable.Count == 0)
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddGradePageRedirect">Add</MudButton>
    </AuthorizeView>
    <p style="padding-top: 10px;"><em>Loading Grades...</em></p>
}
else
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddGradePageRedirect">Add</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedGrade.Id == null)" @onclick="(() => EditGradePageRedirect(SelectedGrade))">Edit</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@(SelectedGrade.Id == null)" @onclick="DeleteGrade">Delete</MudButton>
    </AuthorizeView>
    <SH_GradesTable GradesTable="@GradesTable" @bind-SelectedGrade="@SelectedGrade" @bind-SelectedGrade:event="SelectedGradeChanged" />
}

@code {
    // Data models
    List<SH_Grade> GradesTable = new();
    private SH_Grade SelectedGrade = new();

    // Load table
    protected override async Task OnInitializedAsync()
    {
        GradesTable = await dbLayer.SH_GradesSelectAll();
    }

    // Delete grade if selected and pressed delete
    private async Task DeleteGrade()
    {
        await dbLayer.SH_GradesDeleteById(SelectedGrade);
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }

    // Redirect to page for editing grade
    private void EditGradePageRedirect(SH_Grade grade)
    {
        navigationManager.NavigateTo($"/grade-edit/{grade.Id}");
    }

    // Redirect to page for adding grade
    private void AddGradePageRedirect()
    {
        navigationManager.NavigateTo("/grade-add");
    }
}