@page "/"

<PageTitle>Main</PageTitle>

<AuthorizeView>
    <Authorized>
        <h5>WELCOME</h5>
    </Authorized>
    <NotAuthorized>
        <h5>Please authorize to use this site</h5>
    </NotAuthorized>
</AuthorizeView>
