@page "/Schools/PersonEdit/{personId}"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor;
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Admin")]

<PageTitle>PersonEdit</PageTitle>

@*Wait for everything to load*@
@if (!initialized)
{
    <p><em>Loading...</em></p>
}
else
{
    <SH_PersonSimpleTable SelectedPerson="SelectedPerson" />
    <MudButton Class="mb-4 mt-1" Variant="Variant.Outlined" Color="Color.Primary"
               Disabled="@(SelectedPerson.FirstName == string.Empty || SelectedPerson.LastName == string.Empty
                         || SelectedPerson.SH_School?.Id == 0 || SelectedPerson.SH_d_Type?.Id == 0 || SelectedPerson.DateOfBirth == null
                         || SelectedPerson.DateOfBirth < new DateTime(1900, 1, 1) || SelectedPerson.DateOfBirth >= DateTime.Today)"
               @onclick="UpdatePerson">Submit</MudButton>

    <div class="edit-add-container">
        <MudTextField @bind-Value="SelectedPerson.FirstName" Label="FirstName" Variant="Variant.Text"></MudTextField>
        <MudTextField @bind-Value="SelectedPerson.LastName" Label="LastName" Variant="Variant.Text"></MudTextField>
        <MudDatePicker Label="Date of Birth" Editable="true" Placeholder="Select Date" @bind-Date="SelectedPerson.DateOfBirth" DateFormat="dd.MM.yyyy" />
        <SH_SchoolsTable SchoolsTable="SH_SchoolTable" @bind-SelectedSchool="@SelectedPerson.SH_School" @bind-SelectedSchool:event="SelectedSchoolChanged" />
        <SH_d_TypeTable TypeTable="SH_d_TypeTable" @bind-SelectedType="@SelectedPerson.SH_d_Type" @bind-SelectedType:event="SelectedTypeChanged" />
    </div>
}
@code {
    [Parameter] public string personId { get; set; } = string.Empty;
    public SH_Person SelectedPerson = new();
    List<SH_School> SH_SchoolTable = new();
    List<SH_d_Type> SH_d_TypeTable = new();
    bool initialized = false;

    protected override async Task OnInitializedAsync()
    {
        // Try to parse
        int parsedId = 0;
        bool parsedIdSuccess = Int32.TryParse(personId, out parsedId);

        if (parsedIdSuccess)
        {
            // Get selected person
            SelectedPerson.Id = parsedId;
            SelectedPerson = await dbLayer.SH_PersonSelectById(SelectedPerson);

            // Get schools for Schools table
            SH_SchoolTable = (await dbLayer.SH_SchoolsSelectAll()).ToList();

            // Get type for Type table
            SH_d_TypeTable = await dbLayer.SH_d_TypesSelectAll();
        }

        initialized = true;
    }

    private async Task UpdatePerson()
    {
        // Update Ids
        SelectedPerson.SchoolId = SelectedPerson.SH_School?.Id ?? 0;
        SelectedPerson.TypeId = SelectedPerson.SH_d_Type?.Id ?? 0;
        
        // Update row in db
        await dbLayer.SH_PersonsUpdate(SelectedPerson);
        
        // Get back to persons table
        navigationManager.NavigateTo("/Schools/Persons");
    }
}
