@page "/Schools/Persons"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor;
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Admin, Teacher")]

<PageTitle>Persons</PageTitle>

@if (!initialized)
{
    <AuthorizeView Roles="Admin">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddPersonPageRedirect">Add</MudButton>
    </AuthorizeView>
    <p style="padding-top: 10px;"><em>Loading...</em></p>
}
else
{
    <AuthorizeView Roles="Admin">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddPersonPageRedirect">Add</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedPerson.Id == 0)" @onclick="(() => EditPersonPageRedirect(SelectedPerson))">Edit</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@(SelectedPerson.Id == 0)" @onclick="DeletePerson">Delete</MudButton>
    </AuthorizeView>
    <SH_PersonsTable NameTable="People" PersonsTable="@PersonsTable" @bind-SelectedPerson="@SelectedPerson" @bind-SelectedPerson:event="SelectedPersonChanged" />
}

@code {
    List<SH_Person> PersonsTable = new();
    private SH_Person SelectedPerson = new();
    bool initialized = false;

    // Load table
    protected override async Task OnInitializedAsync()
    {
        PersonsTable = (await dbLayer.SH_PersonsSelectAll()).ToList();
        initialized = true;
    }

    // Delete person if selected and pressed delete
    private async Task DeletePerson()
    {
        await dbLayer.SH_PersonsDeleteById(SelectedPerson);
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }

    // Redirect to page for editing person
    private void EditPersonPageRedirect(SH_Person person)
    {
        navigationManager.NavigateTo($"/Schools/PersonEdit/{person.Id}");
    }

    // Redirect to page for adding person
    private void AddPersonPageRedirect()
    {
        navigationManager.NavigateTo("/Schools/PersonAdd");
    }
}