@page "/Schools/Schools"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager NavigationManager

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor;
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Admin, Teacher")]

<PageTitle>Schools</PageTitle>

@if (!initialized)
{
    <AuthorizeView Roles="Admin">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddSchoolPageRedirect">Add</MudButton>
    </AuthorizeView>
    <p style="padding-top: 10px;"><em>Loading...</em></p>
}
else
{
    <AuthorizeView Roles="Admin">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddSchoolPageRedirect">Add</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedSchool.Id == 0)" @onclick="(() => EditSchoolPageRedirect(SelectedSchool))">Edit</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@(SelectedSchool.Id == 0)" @onclick="DeleteSchool">Delete</MudButton>
    </AuthorizeView>
    <SH_SchoolsTable SchoolsTable="SchoolsTable" @bind-SelectedSchool="@SelectedSchool" @bind-SelectedSchool:event="SelectedSchoolChanged" />
}

@code {
    List<SH_School> SchoolsTable = new();
    private SH_School SelectedSchool = new();
    bool initialized = false;

    protected override async Task OnInitializedAsync()
    {
        // Load table
        SchoolsTable = (await dbLayer.SH_SchoolsSelectAll()).ToList();

        // Set initialized flag
        initialized = true;
    }

    // Delete school if selected and pressed delete
    private async Task DeleteSchool()
    {
        await dbLayer.SH_SchoolsDeleteById(SelectedSchool);
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    // Redirect to page for editing school
    private void EditSchoolPageRedirect(SH_School school)
    {
        NavigationManager.NavigateTo($"/Schools/SchoolEdit/{school.Id}");
    }

    // Redirect to page for adding school
    private void AddSchoolPageRedirect()
    {
        NavigationManager.NavigateTo("/Schools/SchoolAdd");
    }
}
