@page "/school-edit/{schoolId}"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor;
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Admin")]

@*Wait for everything to load*@
@if (SH_d_CityTable?.Count == 0)
{
    <p><em>Loading School...</em></p>
}
else
{
    <SH_SchoolsSimpleTable SelectedSchool="SelectedSchool" />
    <MudButton Class="mb-4 mt-1" Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedSchool.Name == null || SelectedSchool.SH_d_Country?.Id == null || SelectedSchool.SH_d_City?.Id == null || SelectedSchool.Address == null)" @onclick="UpdateSchool">Submit</MudButton>

    <div class="edit-add-container">
        <MudTextField @bind-Value="SelectedSchool.Name" Label="Name" Variant="Variant.Text"></MudTextField>
        <MudTextField @bind-Value="SelectedSchool.Address" Label="Adderss" Variant="Variant.Text"></MudTextField>
        <SH_d_CountryTable CountriesTable="SH_d_CountryTable" @bind-SelectedCountry="@SelectedSchool.SH_d_Country" @bind-SelectedCountry:event="SelectedCountryChanged" />
        <SH_d_CityTable CitiesTable="SH_d_CityTable" @bind-SelectedCity="@SelectedSchool.SH_d_City" @bind-SelectedCity:event="SelectedCityChanged" />
    </div>

}
@code {
    [Parameter] public string? schoolId { get; set; }

    // School row that has been selected
    public SH_School? SelectedSchool = new();

    // School Table
    List<SH_d_Country>? SH_d_CountryTable = new();

    // Type Table
    List<SH_d_City>? SH_d_CityTable = new();

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool.Id = int.Parse(schoolId);
        SelectedSchool = await dbLayer.SH_SchoolsSelectById(SelectedSchool);

        // Get schools for Schools table
        SH_d_CountryTable = await dbLayer.SH_d_CountriesSelectAll();

        // Get type for Type table
        SH_d_CityTable = await dbLayer.SH_d_CitiesSelectAll();
    }

    private async Task UpdateSchool()
    {
        // Change Ids
        SelectedSchool.CountryId = SelectedSchool.SH_d_Country.Id;
        SelectedSchool.CityId = SelectedSchool.SH_d_City.Id;

        await dbLayer.SH_SchoolsUpdate(SelectedSchool);
        navigationManager.NavigateTo("/schools");
    }
}
