@page "/Schools/SubjectAdd"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor;
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Admin, Teacher")]

<PageTitle>SubjectAdd</PageTitle>

@*Wait for everything to load*@
@if (!initialized)
{
    <p><em>Loading...</em></p>
}
else
{
    <SH_d_SubjectSimpleTable SelectedSubject="SelectedSubject" />
    <MudButton Class="mb-4 mt-1" Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedSubject.Name == string.Empty)"
               @onclick="InsertSubject">Submit</MudButton>

    <div class="edit-add-container">
        <MudTextField @bind-Value="SelectedSubject.Name" Label="Name" Variant="Variant.Text"></MudTextField>
    </div>
}

@code {
    public SH_d_Subject SelectedSubject = new();
    bool initialized = true;

    private async Task InsertSubject()
    {
        await dbLayer.SH_d_SubjectsInsert(SelectedSubject);
        navigationManager.NavigateTo("/Schools/Subjects");
    }
}
