@page "/Schools/Take"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize]

<PageTitle>Take</PageTitle>

@*Wait for everything to load*@
@if (!initialized)
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddGradePageRedirect">Add</MudButton>
    </AuthorizeView>
    <p style="padding-top: 10px;"><em>Loading...</em></p>
}
else
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddGradePageRedirect">Add</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedTake.Id == 0)" @onclick="(() => EditGradePageRedirect(SelectedTake))">Edit</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@(SelectedTake.Id == 0)" @onclick="DeleteGrade">Delete</MudButton>
    </AuthorizeView>
    <SH_TakesTable TakeTable="TakesTable" @bind-SelectedTake="@SelectedTake" @bind-SelectedTake:event="SelectedTakeChanged" />
}

@code {
    List<SH_Take> TakesTable = new();
    private SH_Take SelectedTake = new();
    bool initialized = false;

    // Load table
    protected override async Task OnInitializedAsync()
    {
        TakesTable = await dbLayer.SH_TakeSelectAll();
        initialized = true;
    }

    // Delete grade if selected and pressed delete
    private async Task DeleteGrade()
    {
        await dbLayer.SH_TakeDeleteById(SelectedTake);
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }

    // Redirect to page for editing grade
    private void EditGradePageRedirect(SH_Take take)
    {
        navigationManager.NavigateTo($"/Schools/TakeEdit/{take.Id}");
    }

    // Redirect to page for adding grade
    private void AddGradePageRedirect()
    {
        navigationManager.NavigateTo("/Schools/TakeAdd");
    }
}