@page "/take"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor

@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize]

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*Wait for everything to load*@
@if (TakesTable.Count == 0)
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddGradePageRedirect">Add</MudButton>
    </AuthorizeView>
    <p style="padding-top: 10px;"><em>Loading Takes...</em></p>
}
else
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddGradePageRedirect">Add</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedTake.Id == null)" @onclick="(() => EditGradePageRedirect(SelectedTake))">Edit</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@(SelectedTake.Id == null)" @onclick="DeleteGrade">Delete</MudButton>
    </AuthorizeView>
    <SH_TakesTable TakeTable="TakesTable" @bind-SelectedTake="@SelectedTake" @bind-SelectedTake:event="SelectedTakeChanged" />
}

@code {
    // Data models
    List<SH_Take> TakesTable = new();
    private SH_Take SelectedTake = new();

    // Load table
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        TakesTable = await dbLayer.SH_TakeSelectAll();
    }

    // Delete grade if selected and pressed delete
    private async Task DeleteGrade()
    {
        await dbLayer.SH_TakeDeleteById(SelectedTake);
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }

    // Redirect to page for editing grade
    private void EditGradePageRedirect(SH_Take take)
    {
        navigationManager.NavigateTo($"/take-edit/{take.Id}");
    }

    // Redirect to page for adding grade
    private void AddGradePageRedirect()
    {
        navigationManager.NavigateTo("/take-add");
    }
}