@page "/Schools/TakeEdit/{takeId}"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor;
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Admin, Teacher")]

<PageTitle>TakeEdit</PageTitle>

@*Wait for everything to load*@
@if (!initialized)
{
    <p><em>Loading...</em></p>
}
else
{
    <SH_TakesSimpleTable SelectedTake="SelectedTake" />
    <MudButton Class="mb-4 mt-1" Variant="Variant.Outlined" Color="Color.Primary"
               Disabled="@(SelectedTake.SH_d_Class?.Id == 0 || SelectedTake.SH_Person?.Id == 0)"
               @onclick="TakeUpdate">Submit</MudButton>

    <div class="edit-add-container">
        <SH_d_ClassesTable ClassTable="SH_d_ClassTable" @bind-SelectedClass="@SelectedTake.SH_d_Class" @bind-SelectedClass:event="SelectedClassChanged" />
        <SH_PersonsTable NameTable="Students" PersonsTable="SH_StudentTable" @bind-SelectedPerson="@SelectedTake.SH_Person" @bind-SelectedPerson:event="SelectedPersonChanged" />
    </div>
}

@code {
    [Parameter] public string takeId { get; set; } = string.Empty;
    public SH_Take SelectedTake = new();
    List<SH_d_Class> SH_d_ClassTable = new();
    List<SH_Person> SH_StudentTable = new();
    bool initialized = false;

    protected override async Task OnInitializedAsync()
    {
        // Try to parse
        int parsedId = 0;
        bool parsedIdSuccess = Int32.TryParse(takeId, out parsedId);

        if (parsedIdSuccess == true)
        {
            // Assign parsed id and select the row
            SelectedTake.Id = parsedId;
            SelectedTake = await dbLayer.SH_TakeSelectById(SelectedTake);

            // Get classes
            SH_d_ClassTable = await dbLayer.SH_d_ClassesSelectAll();

            // Get Students
            SH_Person studentType = new SH_Person { TypeId = 1 };
            SH_StudentTable = (await dbLayer.SH_PersonsSelectAllByType(studentType)).ToList();
        }

        // Set initialized flag
        initialized = true;
    }

    private async Task TakeUpdate()
    {
        // Select Ids
        SelectedTake.ClassId = SelectedTake.SH_d_Class?.Id ?? 0;
        SelectedTake.StudentId = SelectedTake.SH_Person?.Id ?? 0;

        // Insert
        await dbLayer.SH_TakesUpdate(SelectedTake);

        // Back to main table
        navigationManager.NavigateTo("/Schools/Take");
    }
}