@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using SchoolsProjectBlazorDapper.Data.Schools;
@using MudBlazor;

<MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@SelectedClass?.Name</td>
        </tr>
    </tbody>
</MudSimpleTable>

@code {
    [Parameter] public SH_d_Class? SelectedClass { get; set; }
}
