@page "/Account/Manage/Logout"

@using Microsoft.AspNetCore.Identity
@using SchoolsProjectBlazorDapper.Data.Account

@inject SignInManager<User> SignInManager
@inject NavigationManager NavigationManager

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Log out
        await SignInManager.SignOutAsync();

        // Redirect to main page
        NavigationManager.NavigateTo("/");
    }
}
